/*
    Created on : 02-mar-2018, 12:30:18
    Author     : Antonio Jesús Pérez Delgado <A. Jesús with netbeans>
*/

.ventanaPrincipal{
    -fx-background-image: url(../imagenes/FondoVentanaPrincipal.jpg);
    -fx-background-size: stretch;
      -fx-opacity: 0.7;
}
.ventanaLogIn{
    -fx-background-image: url(../imagenes/FondoVentanaLogIn.jpg);
    -fx-background-size: stretch;
}
.baseVentanas{
    -fx-background-image: url(../imagenes/gridFondo.png);
    -fx-background-size: cover;
}
.menuPrincipal{
    -fx-background-color: #3366ff;
    -fx-font-size: 10pt;
    -fx-text-fill: white;
}
.menus{
    -fx-text-fill: white; 
}
#botonAdd{
    -fx-graphic:url(../imagenes/add24.png);
    -fx-background-color: #3366ff;
    -fx-alignment:BOTTOM_CENTER;
    -fx-content-display:top;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-border-color: #ffffff;
    -fx-border-radius: 10;
    -fx-cursor:hand;
}
#botonAdd:hover{
    -fx-graphic:url(../imagenes/add32.png);
    -fx-background-color: #329fe6;
    -fx-cursor:hand;
}
#botonAdd:pressed{
    -fx-graphic:url(../imagenes/add24.png);
    -fx-cursor:hand;
}
#botonActualizar{
    -fx-graphic:url(../imagenes/actualizar24.png);
    -fx-background-color: #3366ff;
    -fx-alignment:BOTTOM_CENTER;
    -fx-content-display:top;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-border-color: #ffffff;
    -fx-border-radius: 10;
    -fx-cursor:hand;
}
#botonActualizar:hover{
    -fx-graphic:url(../imagenes/actualizar32.png);
    -fx-background-color: #329fe6;
    -fx-cursor:hand;
}
#botonActualizar:pressed{
    -fx-graphic:url(../imagenes/actualizar24.png);
    -fx-cursor:hand;
}
#botonBorrar{
    -fx-graphic:url(../imagenes/borrar24.png);
    -fx-background-color: #3366ff;
    -fx-alignment:BOTTOM_CENTER;
    -fx-content-display:top;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-border-color: #ffffff;
    -fx-border-radius: 10;
    -fx-cursor:hand;
}
#botonBorrar:hover{
    -fx-graphic:url(../imagenes/borrar32.png);
    -fx-background-color: #329fe6;
    -fx-cursor:hand;
}
#botonBorrar:pressed{
    -fx-graphic:url(../imagenes/borrar24.png);
    -fx-cursor:hand;
}
#botonBuscar{
    -fx-graphic:url(../imagenes/buscar24.png);
    -fx-background-color: #3366ff;
    -fx-alignment:BOTTOM_CENTER;
    -fx-content-display:top;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-border-color: #ffffff;
    -fx-border-radius: 10;
    -fx-cursor:hand;
}
#botonBuscar:hover{
    -fx-graphic:url(../imagenes/buscar32.png);
    -fx-background-color: #329fe6;
    -fx-cursor:hand;
}
#botonBuscar:pressed{
    -fx-graphic:url(../imagenes/buscar24.png);
    -fx-cursor:hand;
}
#botonOk{
    -fx-graphic:url(../imagenes/ok24.png);
    -fx-background-color: #3366ff;
    -fx-alignment:BOTTOM_CENTER;
    -fx-content-display:top;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-border-color: #ffffff;
    -fx-border-radius: 10;
    -fx-cursor:hand;
}
#botonOk:hover{
    -fx-graphic:url(../imagenes/ok32.png);
    -fx-background-color: #329fe6;
    -fx-cursor:hand;
}
#botonOk:pressed{
    -fx-graphic:url(../imagenes/ok24.png);
    -fx-cursor:hand;
}
.etiquetaTitulo{
    -fx-background-color: #329fe6;
    -fx-font-size: 12pt;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-alignmen: center;
}
.etiquetaTituloPrincipal{
    -fx-background-color: #329fe6;
    -fx-font-size: 34pt;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-alignment: bottom-center;
}
.etiquetaTituloPie{
    -fx-background-color: #329fe6;
    -fx-font-size: 20pt;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-alignment: center;
}