/*
    Created on : 02-mar-2018, 12:30:18
    Author     : Antonio Jesús Pérez Delgado <A. Jesús with netbeans>
*/

.ventanaPrincipal{
    -fx-background-image: url(../imagenes/FondoVentanaPrincipal.jpg);
    -fx-background-size: stretch;
}
.ventanaLogIn{
    -fx-background-image: url(../imagenes/FondoVentanaLogIn.jpg);
    -fx-background-size: stretch;
}
.baseVentanas{
    -fx-background-image: url(../imagenes/gridFondo.png);
    -fx-background-size: cover;
}
.menuPrincipal{
    -fx-background-color: #3366ff;
    -fx-font-size: 10pt;
    -fx-text-fill: white;
}
.menus{
    -fx-text-fill: white; 
}
#botonAdd{
    -fx-graphic:url(../imagenes/add24.png);
    -fx-background-color: #3366ff;
    -fx-alignment:BOTTOM_CENTER;
    -fx-content-display:top;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-border-color: #ffffff;
    -fx-border-radius: 10;
}
#botonAdd:hover{
    -fx-graphic:url(../imagenes/add32.png);
    -fx-background-color: #329fe6
}
#botonAdd:pressed{
    -fx-graphic:url(../imagenes/add24.png);
}
#botonActualizar{
    -fx-graphic:url(../imagenes/actualizar24.png);
    -fx-background-color: #3366ff;
    -fx-alignment:BOTTOM_CENTER;
    -fx-content-display:top;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-border-color: #ffffff;
    -fx-border-radius: 10;
}
#botonActualizar:hover{
    -fx-graphic:url(../imagenes/actualizar32.png);
    -fx-background-color: #329fe6
}
#botonActualizar:pressed{
    -fx-graphic:url(../imagenes/actualizar24.png);
}
#botonBorrar{
    -fx-graphic:url(../imagenes/borrar24.png);
    -fx-background-color: #3366ff;
    -fx-alignment:BOTTOM_CENTER;
    -fx-content-display:top;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-border-color: #ffffff;
    -fx-border-radius: 10;
}
#botonBorrar:hover{
    -fx-graphic:url(../imagenes/borrar32.png);
    -fx-background-color: #329fe6
}
#botonBorrar:pressed{
    -fx-graphic:url(../imagenes/borrar24.png);
}
#botonBuscar{
    -fx-graphic:url(../imagenes/buscar24.png);
    -fx-background-color: #3366ff;
    -fx-alignment:BOTTOM_CENTER;
    -fx-content-display:top;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-border-color: #ffffff;
    -fx-border-radius: 10;
}
#botonBuscar:hover{
    -fx-graphic:url(../imagenes/buscar32.png);
    -fx-background-color: #329fe6
}
#botonBuscar:pressed{
    -fx-graphic:url(../imagenes/buscar24.png);
}