/*
    Created on : 02-mar-2018, 12:30:18
    Author     : Antonio Jesús Pérez Delgado <A. Jesús with netbeans>
*/
.baseVentanas{
    -fx-background-image: url(../imagenes/FondoVentanaPrincipal.jpg);
    -fx-background-size: cover;
}
.baseVentanaPrincipal{
    -fx-background-image: url(../imagenes/FondoVentanaPrincipal.jpg);
    -fx-background-size: stretch;
}
.mainFxmlClass{
    -fx-background-image: url(../imagenes/FondoVentanaPrincipal.jpg);
    -fx-background-size: cover;
}
.baseCalculadora{
    -fx-background-image: url(../imagenes/fondoCalculadora.jpg);
    -fx-background-size: stretch;
}
.baseVideo{
    -fx-background-image: url(../imagenes/fondoVideo.jpg);
    -fx-background-size: stretch;
}
.baseLogin{
    -fx-background-image: url(../imagenes/FondoLogin.jpg);
    -fx-background-size: stretch;
}
.baseLogo{
    -fx-background-image: url(../imagenes/FondoVentanaPrincipal.png);
    -fx-background-size: stretch;
}

/*-----------------------------------------------------------------------------*/
/*------------------RELOJ------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/

#face {
    -fx-fill: radial-gradient(radius 180%, white, #3366ff, derive(#1d1d1d, 10%));
    -fx-stroke: derive(white, 10%);
    -fx-stroke-width: 5;
    -fx-opacity: 0.9;
}

#brand {
    -fx-font-size: 14px;
    -fx-text-fill: white;

}

#hourHand {
    -fx-stroke: white;
    -fx-stroke-width: 4;
    -fx-stroke-line-cap: round;
}

#minuteHand {
    -fx-stroke: derive(white, 0%);
    -fx-stroke-width: 3;
    -fx-stroke-line-cap: round;
}

#secondHand {
    -fx-stroke: derive(white, 0%);
    -fx-stroke-width: 2;
    -fx-stroke-line-cap: round;
}

#spindle {
    -fx-fill: derive(darkslategray, +5%);
}

#digitalClock {
    -fx-font-size: 20px;
    -fx-font-family: 'Courier New';
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.tick {
    -fx-stroke: derive(white, -15%);
    -fx-stroke-width: 3;
    -fx-stroke-line-cap: round;
}

/*--------------------------------------------------------------------------------*/
/*------------------COMBOBOX------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
.combo-box{
    -fx-background-color: white;
    -fx-cursor:hand;
    -fx-font-size: 8pt;
    -fx-text-fill: black;
    -fx-alignment: left;

}
.combo-box:hover{
    -fx-scale-y: 1.2;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-scale-y: 1.2;
    -fx-cursor: hand;
}

/*----------------------------------------------------------------------------------*/
/*------------------DATEPICKER------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/

.date-picker .day-cell {
    -fx-cursor: hand ;
}
.date-picker{
    -fx-background-color: white;
    -fx-cursor: hand;
    -fx-font-size: 8pt;
    -fx-text-fill: black;
    -fx-alignment: left;

}
.date-picker:hover{
   -fx-scale:1.2;
}
/*-----------------------------------------------------------------------------*/
/*------------------LABEL------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
.etiquetaTitulo{
    -fx-background-color: linear-gradient(to bottom right,#329fe6,#3366ff);
    -fx-font-size: 7pt;
    -fx-text-fill: yellow;
    -fx-font-weight: bold;
    -fx-opacity: 0.9;
    -fx-alignment: center;
}
.etiquetaTituloPrincipal{
    -fx-font-size: 26pt;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-alignment: bottom-center;
}
.etiquetaTituloPie{
    -fx-font-size: 15pt;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-alignment: center;
}
.etiquetaNormal{
    -fx-font-size: 8pt;
    -fx-text-fill: white;
}

/*---------------------------------------------------------------------------------*/
/*------------------TEXTFIELD------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/
.texfieldNormal{
    -fx-font-size: 8pt;
    -fx-text-fill: black;

}
.text-field{
    -fx-font-size: 8pt;
    -fx-text-fill: black;

}
/*--------------------------------------------------------------------------------*/
/*------------------TEXTAREA------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
.text-area{
    -fx-font-size: 8pt;
    -fx-text-fill: black;
    -fx-alignment: left;
}
/*-------------------------------------------------------------------------------*/
/*------------------TABPANE------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
.tab {
    -fx-background-color:#3366ff;
    -fx-cursor:hand;
}
.tab:hover {
    -fx-scale-y: 1.2;
}

.tab:selected {
    -fx-background-color: white;
}
.tab .tab-label{
    -fx-text-fill: white;
}
.tab:selected .tab-label{
    -fx-text-fill: black;
}
.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-image:url(../imagenes/gridFondo.png);
}

/*----------------------------------------------------------------------------*/
/*------------------PANE------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #3366ff;
    -fx-background-radius: 5em;
}
.increment-button, .decrement-button {
    -fx-background-color: #ffff99;
    -fx-text-fill: #3366ff;
}
.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color: #7493f8;
}

/*-----------------------------------------------------------------------------*/
/*------------------TABLE------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
.table-view .column-header .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 8pt;
}
.table-view .column-header {
    -fx-border-color: #3366ff;
    -fx-background-color:linear-gradient(to bottom right, #ffff66, derive(#ffff66, 20%));
    -fx-cursor: hand;
}
.table-view .column-header:hover {
    -fx-scale-y: 1.2;
}
.table-view .column-header .label:hover {
    -fx-scale-y: 1.2;
}
.table-view .table-cell:hover{
    -fx-scale-y: 1.2;
}
.table-row-cell:hover{
    -fx-scale-y: 1.2;
    -fx-cursor:hand;
    -fx-background-color: derive(#329fe6, 40%);
    -fx-text-fill: white;
}
.table-row-cell:selected{
    -fx-scale-y: 1
}
/*--------------------------------------------------------------------------------*/
/*------------------VENTANAS------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
.ventanaPrincipal{
    -fx-background-image: url(../imagenes/FondoVentanaMain.png);
    -fx-background-size: stretch;
    -fx-opacity: 0.7;
}
.ventanaLogIn{
    -fx-background-image: url(../imagenes/FondoVentanaLogIn.jpg);
    -fx-background-size: stretch;
}

/*----------------------------------------------------------------------------------*/
/*------------------------------TOGGLEBUTTON-------------------------------------------*/
/*---------------------------------------------------------------------------------*/

.toogleButtonOn{
    -fx-text-fill: white;
    -fx-scale-y: 0.8;
    -fx-background-color: radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 98%, reflect,orangered , derive(red,-10%), derive(black,30%));
    -fx-cursor: hand;
    -fx-graphic: url(../imagenes/botones/onOff16.png);
}
.toogleButtonOn:hover{
    -fx-scale-y: 1;
}
.toogleButtonOn:selected{
    -fx-scale-y: 0.8;
    -fx-text-fill: white;
    -fx-background-color: radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 98%, reflect, #00c622 , derive(green,-10%), derive(black,30%));
}

/*---------------------------------------------------------------------------*/
/*------------------BUTTON------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
.button{
    -fx-scale-y: 0.8;
    -fx-font-size: 10pt;
    -fx-background-color:white;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-border-color: #ffffff;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-cursor:hand;
}
.button:hover{
    -fx-scale-y: 1;
    -fx-background-color:transparent;
}
.button:selected{
    -fx-scale-y: 0.8;
    -fx-background-color:white;
}
.baseBotonesAzules{
    -fx-font-size: 10pt;
    -fx-scale-y: 0.7;
    -fx-background-color: radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 98%, reflect,#329fe6 , derive(#3366ff,-10%), derive(black,30%));
    -fx-alignment:BOTTOM_CENTER;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-border-color: #ffffff;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-cursor:hand;
}

.baseBotonesAzules:hover{
    -fx-scale-y: 1;
    -fx-background-color: radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 98%, reflect,#3366ff , derive(#329fe6,-10%), derive(white,-30%));
}
.baseBotonesAzules:pressed{
    -fx-background-color: radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 98%, reflect,#329fe6 , derive(#3366ff,-10%), derive(black,30%));
    -fx-text-fill: white;
    -fx-scale-y: 0.7;
}
.baseBotonesAzules.botonAdd{
    -fx-graphic:url(../imagenes/botones/add32.png);
}
.baseBotonesAzules.botonTelefono{
    -fx-graphic:url(../imagenes/botones/telefono32.png)
}
.baseBotonesAzules.botonVer{
    -fx-graphic:url(../imagenes/botones/ver32.png);
}
.baseBotonesAzules.botonActualizar{
    -fx-graphic:url(../imagenes/botones/actualizar32.png);
}
.baseBotonesAzules.botonCalculadora{
    -fx-graphic:url(../imagenes/ribbon/calculadora64.png);
}
.baseBotonesAzules.botonChat{
    -fx-graphic:url(../imagenes/ribbon/chat64.png);
}
.baseBotonesAzules.botonParte{
    -fx-graphic:url(../imagenes/ribbon/parte64.png);
}
.baseBotonesAzules.botonCalendario{
    -fx-graphic:url(../imagenes/ribbon/calendario64.png);
}
.baseBotonesAzules.botonBuscar{
    -fx-graphic:url(../imagenes/botones/buscar32.png);
}
/*------------------------------------------------------------------------------*/
.baseBotonesVerdes{
    -fx-font-size: 10pt;
    -fx-scale-y: 0.7;
    -fx-background-color:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 98%, reflect,#00c622, derive(green,-10%), derive(black,30%));
    -fx-alignment:BOTTOM_CENTER;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-border-color: #ffffff;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-cursor:hand;
}
.baseBotonesVerdes:hover{
    -fx-scale-y: 1;
    -fx-background-color:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 98%, reflect,green, derive(#00c622,-10%), derive(white,-30%));
}
.baseBotonesVerdes:pressed{
    -fx-background-color:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 98%, reflect,#00c622, derive(green,-10%), derive(black,30%));
    -fx-text-fill: white;
    -fx-scale-y: 0.7;
}

.baseBotonesVerdes.botonOk{
    -fx-graphic:url(../imagenes/botones/ok32.png);
}
/*----------------------------------------------------------------------------*/
.baseBotonesRojos{
    -fx-font-size: 10pt;
    -fx-scale-y: 0.8;
    -fx-background-color:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 98%, reflect,orangered , derive(red,-10%), derive(black,30%));
    -fx-alignment:BOTTOM_CENTER;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-border-color: #00c622;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-cursor:hand;
}
.baseBotonesRojos:hover{
    -fx-scale-y: 1;
    -fx-background-color:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 98%, reflect,red , derive(orangered,-10%), derive(white,-30%));
}
.baseBotonesRojos:pressed{
    -fx-background-color:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 98%, reflect,orangered , derive(red,-10%), derive(black,30%));
    -fx-text-fill: white;
    -fx-scale-y: 0.7;
}
.baseBotonesRojos.botonBorrar{
    -fx-graphic:url(../imagenes/botones/borrar32.png);  
} 
.baseBotonesRojos.botonError{
    -fx-graphic:url(../imagenes/botones/cancel32.png);
}
/*----------------------------------------------------------------------------*/
.baseBotonesNaranja{
    -fx-font-size: 10pt;
    -fx-scale-y: 0.7;
    -fx-background-color:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 98%, reflect,orange , orangered,derive(orangered,-10%), derive(black,30%));
    -fx-alignment:BOTTOM_CENTER;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-border-color: red;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-cursor:hand;
}
.baseBotonesNaranja:hover{
    -fx-scale-y: 1;
    -fx-background-color:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 98%, reflect,orangered , orange,derive(orangered,-10%), derive(white,-30%));
}
.baseBotonesNaranja:pressed{
    -fx-background-color:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 98%, reflect,orange , orangered,derive(orangered,-10%), derive(black,30%));
    -fx-text-fill: white;
    -fx-scale-y: 0.7;

}.baseBotonesNaranja.botonLimpiar{
    -fx-graphic:url(../imagenes/botones/limpiar32.png);
}

/*--------------------------------------------------------------------------*/
/*--------------------------MENUS-------------------------------------------*/
/*--------------------------------------------------------------------------*/
.menu{
    -fx-cursor:hand;
}
.menu-item{
    -fx-cursor:hand;
    -fx-font-size: 8pt;
    -fx-text-fill: white;
}
.menu-item:hover{
    -fx-scale-y: 1.2;
}
.menu-bar{
    -fx-background-color: #3366ff;
    -fx-font-size: 10pt;
    -fx-text-fill: white;
}
.menu .label{
    -fx-font-size: 10pt;
    -fx-text-fill: white; 
    -fx-font-size: 8pt;
}
.menu:hover {
    -fx-background-color: white;
    -fx-text-fill: black; 
    -fx-cursor: hand;
    -fx-scale-y: 1.2;
}
.menu:hover .label{
    -fx-text-fill: black; 
}
/*---------------------------------------------------------------*/
/*---------------------RADIOBUTTON-------------------------------*/
/*---------------------------------------------------------------*/
.radio-button .label{
    -fx-font-size: 8pt;
    -fx-text-fill: black;
    -fx-alignment: left;
}
.radio-button .radio{
    -fx-background-color: white;
    -fx-cursor: hand;
}
.radio-button .radio:hover{
    -fx-scale-y: 1.2;
    -fx-scale-x: 1.2;
}
